@media (max-width: 1024) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 16px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 16px;
    }
}

@media (max-width: 576px) {
    .color-class {
        color: red;
    }
}